[submodule "parse_dummy"]
	path = parse_dummy
	url = git@github.com:weigelt/parse_agent_dummy.git
[submodule "parse_pipelineStageDummy"]
	path = parse_pipelineStageDummy
	url = git@github.com:weigelt/parse_pipelinestage_dummy.git
[submodule "parse_luna"]
	path = parse_luna
	url = git@code.ipd.kit.edu:weigelt/parse_luna.git
[submodule "parse_ontology_connection"]
        path = parse_ontology_connection
	url = git@code.ipd.kit.edu:weigelt/parse_ontology_connection.git
[submodule "parse_tools"]
        path = parse_tools
	url = git@code.ipd.kit.edu:weigelt/parse_tools.git
