[submodule "parse_shallowNLP"]
	path = parse_shallowNLP
	url = git@code.ipd.kit.edu:weigelt/parse_shallowNLP.git
[submodule "parse_dummy"]
	path = parse_dummy
	url = git@code.ipd.kit.edu:weigelt/parse_dummy.git
[submodule "parse_pipelineStageDummy"]
	path = parse_pipelineStageDummy
	url = git@code.ipd.kit.edu:weigelt/parse_pipelineStageDummy.git
[submodule "parse_luna"]
	path = parse_luna
	url = git@code.ipd.kit.edu:weigelt/parse_luna.git
[submodule "parse_bundle"]
	path = parse_bundle
	url = git@code.ipd.kit.edu:weigelt/parse_bundle.git
[submodule "parse_condition_detection"]
	path = parse_condition_detection
	url = git@code.ipd.kit.edu:weigelt/parse_condition_detection.git
[submodule "parse_asr"]
	path = parse_asr
	url = git@code.ipd.kit.edu:weigelt/parse_asr.git
[submodule "parse_srl"]
	path = parse_srl
	url = git@code.ipd.kit.edu:weigelt/parse_srl.git
[submodule "parse_graph_builder"]
	path = parse_graph_builder
	url = git@code.ipd.kit.edu:weigelt/parse_graph_builder.git
[submodule "parse_recorder"]
	path = parse_recorder
	url = git@code.ipd.kit.edu:weigelt/parse_recorder.git
[submodule "parse_coref"]
	path = parse_coref
	url = git@code.ipd.kit.edu:weigelt/parse_coref.git
[submodule "parse_context"]
	path = parse_context
	url = git@code.ipd.kit.edu:weigelt/parse_context.git
[submodule "parse_wsd"]
	path = parse_wsd
	url = git@code.ipd.kit.edu:weigelt/parse_wsd.git
[submodule "parse_loop_detection"]
        path = parse_loop_detection
	url = git@code.ipd.kit.edu:weigelt/parse_loop_detection.git
[submodule "parse_concurrent_action_dection"]
        path = parse_concurrent_action_dection
	url = git@code.ipd.kit.edu:weigelt/parse_concurrent_action_dection.git
[submodule "parse_ontology_connection"]
        path = parse_ontology_connection
	url = git@code.ipd.kit.edu:weigelt/parse_ontology_connection.git
[submodule "parse_tools"]
        path = parse_tools
	url = git@code.ipd.kit.edu:weigelt/parse_tools.git
[submodule "parse_method_synthesizer"]
	path = parse_method_synthesizer
	url = git@code.ipd.kit.edu:parse/parse_method_synthesizer.git
[submodule "parse_timeout_watchdog"]
	path = parse_timeout_watchdog
	url = git@code.ipd.kit.edu:parse/parse_timeout_watchdog.git
[submodule "parse_ast_synth"]
	path = parse_ast_synth
	url = git@code.ipd.kit.edu:parse/parse_ast_synth.git
[submodule "parse_code_gen"]
	path = parse_code_gen
	url = git@code.ipd.kit.edu:parse/parse_code_gen.git
[submodule "parse_code_injector"]
	path = parse_code_injector
	url = git@code.ipd.kit.edu:parse/parse_code_injector.git
[submodule "parse_change_watchdog"]
	path = parse_change_watchdog
	url = git@code.ipd.kit.edu:parse/parse_change_watchdog.git
[submodule "parse_cycle_watchdog"]
	path = parse_cycle_watchdog
	url = git@code.ipd.kit.edu:parse/parse_cycle_watchdog.git
[submodule "parse_wiki_wsd_classifier"]
	path = parse_wiki_wsd_classifier
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_classifier.git
[submodule "parse_wiki_wsd_models"]
	path = parse_wiki_wsd_models
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_models.git
[submodule "parse_topic_extraction_common"]
	path = parse_topic_extraction_common
	url = git@code.ipd.kit.edu:parse/parse_topic_extraction_common.git
[submodule "parse_topic_extraction"]
	path = parse_topic_extraction
	url = git@code.ipd.kit.edu:parse/parse_topic_extraction.git
[submodule "parse_ontology_selection"]
	path = parse_ontology_selection
	url = git@code.ipd.kit.edu:parse/parse_ontology_selection.git
[submodule "parse_teaching_detector"]
	path = parse_teaching_detector
	url = git@code.ipd.kit.edu:parse/parse_teaching_detector.git
