[submodule "parse_shallowNLP"]
	path = parse_shallowNLP
	url = git@code.ipd.kit.edu:weigelt/parse_shallowNLP.git
[submodule "senna_wrapper"]
	path = senna_wrapper
	url = git@code.ipd.kit.edu:lama/senna_wrapper.git
[submodule "parse_bios"]
	path = parse_bios
	url = git@code.ipd.kit.edu:weigelt/parse_bios.git
[submodule "parse_dummy"]
	path = parse_dummy
	url = git@code.ipd.kit.edu:weigelt/parse_dummy.git
[submodule "parse_pipelineStageDummy"]
	path = parse_pipelineStageDummy
	url = git@code.ipd.kit.edu:weigelt/parse_pipelineStageDummy.git
[submodule "parse_luna"]
	path = parse_luna
	url = git@code.ipd.kit.edu:weigelt/parse_luna.git
[submodule "parse_bundle"]
	path = parse_bundle
	url = git@code.ipd.kit.edu:weigelt/parse_bundle.git
[submodule "parse_condition_detection"]
	path = parse_condition_detection
	url = git@code.ipd.kit.edu:weigelt/parse_condition_detection.git
[submodule "parse_asr"]
	path = parse_asr
	url = git@code.ipd.kit.edu:weigelt/parse_asr.git
[submodule "parse_ner"]
	path = parse_ner
	url = git@code.ipd.kit.edu:weigelt/parse_ner.git
[submodule "parse_srl"]
	path = parse_srl
	url = git@code.ipd.kit.edu:weigelt/parse_srl.git
[submodule "parse_graph_builder"]
	path = parse_graph_builder
	url = git@code.ipd.kit.edu:weigelt/parse_graph_builder.git
[submodule "parse_recorder"]
	path = parse_recorder
	url = git@code.ipd.kit.edu:weigelt/parse_recorder.git
[submodule "parse_coref"]
	path = parse_coref
	url = git@code.ipd.kit.edu:weigelt/parse_coref.git
[submodule "parse_context"]
	path = parse_context
	url = git@code.ipd.kit.edu:weigelt/parse_context.git
[submodule "parse_action_analyzer"]
	path = parse_action_analyzer
	url = git@code.ipd.kit.edu:weigelt/parse_action_analyzer.git
[submodule "parse_wsd"]
	path = parse_wsd
	url = git@code.ipd.kit.edu:weigelt/parse_wsd.git
[submodule "parse_loop_detection"]
        path = parse_loop_detection
	url = git@code.ipd.kit.edu:weigelt/parse_loop_detection.git
[submodule "parse_concurrent_action_dection"]
        path = parse_concurrent_action_dection
	url = git@code.ipd.kit.edu:weigelt/parse_concurrent_action_dection.git
[submodule "parse_ontology_connection"]
        path = parse_ontology_connection
	url = git@code.ipd.kit.edu:weigelt/parse_ontology_connection.git
[submodule "parse_tools"]
        path = parse_tools
	url = git@code.ipd.kit.edu:weigelt/parse_tools.git
