*.log
*.lof
*.aux
*.gz
*.lot
*.out
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.fls
*.tmp
thesis.pdf
.classpath
.project
.settings
target/
~$*
parse_web
parse_private
parse_loop_conc_evaluator
parse_parent
parse.wiki
dialog_agent
Abschlussarbeiten
WordSequenceAligner
commons-text
java-speech-api
